.Logo {
    align-items: center;
    background-color: var(--orange);
    border: 0.6vmin solid var(--tan-2);
    border-radius: 50%;
    color: var(--tan-1);
    display: flex;
    flex-direction: column;
    font-size: 2.7vmin;
    height: 12vmin;
    justify-content: center;
    width: 12vmin;
}

.logoandbtn {
    display: flex;
    flex-direction: column;
}

.AuthPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vmin;
}